<ion-content>
  <ion-row style="border-bottom: none !important; width: 100%;">
    <ion-col class="center_align">
      <div class="round"></div>
    </ion-col>
  </ion-row>
  <form>
    <div style="margin: 20px;">
      <ion-card style="display: grid; align-items: center;" class="input_selection">
        <ion-item>
          <ion-label position="stacked">Name</ion-label>
          <ion-input placeholder="Enter Name"></ion-input>
        </ion-item>
      </ion-card>
      <ion-card style="display: grid; align-items: center;" class="input_selection">
        <ion-item>
          <ion-label position="stacked">Email</ion-label>
          <ion-input placeholder="Enter Email"></ion-input>
        </ion-item>
      </ion-card>
      <ion-card style="display: grid; align-items: center;" class="input_selection">
        <ion-item>
          <ion-label position="stacked">Mobile</ion-label>
          <ion-input placeholder="Enter Mobile"></ion-input>
        </ion-item>
      </ion-card>
      <ion-card style="display: grid; align-items: center;" class="input_selection">
        <ion-item>
          <ion-label position="stacked">City</ion-label>
          <ion-input placeholder="Enter City"></ion-input>
        </ion-item>
      </ion-card>
  
      <ion-row>
        <ion-label class="col_center_align">
          <ion-icon name="male-outline" style="height: 20px; width: 20px;"></ion-icon>
        </ion-label>
        <ion-col>
          <ion-text class="sub_heading">Gender Preference ?</ion-text>
        </ion-col>
      </ion-row>
  
      <ion-row>
        <ion-col>
          <ion-button>Anyone</ion-button>
          <ion-button>Male</ion-button>
          <ion-button>Female</ion-button>
        </ion-col>
      </ion-row>
  
      <ion-row>
        <ion-label class="col_center_align">
          <ion-icon name="male-outline" style="height: 20px; width: 20px;"></ion-icon>
        </ion-label>
        <ion-col>
          <ion-text class="sub_heading">Age Preference ?</ion-text>
        </ion-col>
      </ion-row>
  
      <ion-row>
        <ion-col>
          <ion-button>Anyone</ion-button>
          <ion-button>18-24</ion-button>
          <ion-button>25-40</ion-button>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col class="flex_end_align">
          <ion-icon name="chevron-down-outline" style="height: 40px; width: 40px;"></ion-icon>
        </ion-col>
      </ion-row>
    </div>

    <div style="margin: 20px;">
      <ion-card style="display: grid; align-items: center;" class="input_selection">
        <ion-item>
          <ion-label position="stacked">Max two words what you want to do?</ion-label>
          <ion-input></ion-input>
        </ion-item>
      </ion-card>
      <ion-card style="display: grid; align-items: center; height: 140px;" class="input_selection">
        <ion-item>
          <ion-label position="stacked">Bio</ion-label>
          <ion-textarea></ion-textarea>
        </ion-item>
      </ion-card>
      <ion-card style="display: grid; align-items: center;" class="input_selection">
        <ion-item>
          <ion-label position="stacked">facebook.com/</ion-label>
          <ion-input></ion-input>
        </ion-item>
      </ion-card>
      <ion-card style="display: grid; align-items: center;" class="input_selection">
        <ion-item>
          <ion-label position="stacked">Instgram.com/</ion-label>
          <ion-input></ion-input>
        </ion-item>
      </ion-card>
      <ion-card style="display: grid; align-items: center;" class="input_selection">
        <ion-item>
          <ion-label position="stacked">YouTube.com/</ion-label>
          <ion-input></ion-input>
        </ion-item>
      </ion-card>
      <ion-card style="display: grid; align-items: center;" class="input_selection">
        <ion-item>
          <ion-label position="stacked">Twitter.com/</ion-label>
          <ion-input></ion-input>
        </ion-item>
      </ion-card>
      <ion-row>
        <ion-col size="3" class="flex_start_align">
          <ion-icon name="chevron-up-outline" class="svg_size"></ion-icon>
        </ion-col>
        <ion-col size="7" class="flex_end_align">
          <ion-label style="font-size: 22px !important; font-weight: 700;">Join Now</ion-label>
        </ion-col>
        <ion-col size="2" class="flex_end_align">
          <ion-icon style="height: 54px; width: 54px;" name="arrow-forward-circle-outline"></ion-icon>
        </ion-col>
      </ion-row>
    </div>
  </form>
</ion-content>
