<ion-content>
  <ion-row style="text-align: right;">
    <ion-col style="text-align: right;">
      <ion-icon class="svg_size" name="close-circle-outline" (click)="back()"></ion-icon>
    </ion-col>
  </ion-row>
  <ion-row *ngIf="showTop" style="border-bottom: none !important; width: 100%;">
    <ion-col>
      <div class="col_center_align" style="flex-direction: column;">
        <div class="profile-photo-container">
          <img *ngIf="profilePhoto" [src]="profilePhoto" [ngClass]="{ 'rounded': profilePhoto }">
          <label class="upload-label" *ngIf="!profilePhoto">
            <input type="file" accept="image/*" (change)="onFileSelected($event)">
            Choose Photo*
          </label>
        </div>
        <label *ngIf="profilePhoto" class="change-file-label">
          <input type="file" accept="image/*" (change)="onFileSelected($event)">
          Change Photo
        </label>
      </div>
    </ion-col>
  </ion-row>
  <form [formGroup]="userDataForm">
    <div *ngIf="showTop" style="margin: 20px;">
      <ion-card style="display: grid; align-items: center;" class="input_selection">
        <ion-item>
          <ion-label position="stacked">Name*</ion-label>
          <ion-input formControlName="userName" placeholder="Enter Name"></ion-input>
        </ion-item>
      </ion-card>
      <ion-card style="display: grid; align-items: center;" class="input_selection">
        <ion-item>
          <ion-label position="stacked">Email*</ion-label>
          <ion-input formControlName="email" placeholder="Enter Email"></ion-input>
        </ion-item>
      </ion-card>
      <ion-card style="display: grid; align-items: center;" class="input_selection">
        <ion-item>
          <ion-label position="stacked">Mobile*</ion-label>
          <ion-input formControlName="mobile" placeholder="Enter Mobile"></ion-input>
        </ion-item>
      </ion-card>
      <ion-row>
        <ion-col style="display: flex; align-items: center;">
          <ion-toggle class="togglr_style" formControlName="showMobile"></ion-toggle>
          <ion-text>
            Deactivate toggle to hide phone number
          </ion-text>
        </ion-col>
      </ion-row>
      <ion-card style="display: grid; align-items: center;" class="input_selection">
        <ion-item>
          <ion-label position="stacked">City*</ion-label>
          <ion-input formControlName="city" placeholder="Enter City"></ion-input>
        </ion-item>
      </ion-card>

      <ion-row>
        <ion-label class="col_center_align">
          <ion-icon name="male-outline" style="height: 20px; width: 20px;"></ion-icon>
        </ion-label>
        <ion-col>
          <ion-text class="sub_heading">Gender*</ion-text>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-button [ngClass]="tabData.gender == 'anyone'? 'selected': ''" (click)="onClickTab('gender', 'anyone')">Other</ion-button>
          <ion-button [ngClass]="tabData.gender == 'male'? 'selected': ''" (click)="onClickTab('gender', 'male')">Male</ion-button>
          <ion-button [ngClass]="tabData.gender == 'female'? 'selected': ''" (click)="onClickTab('gender', 'female')">Female</ion-button>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-label class="col_center_align">
          <ion-icon name="male-outline" style="height: 20px; width: 20px;"></ion-icon>
        </ion-label>
        <ion-col>
          <ion-text class="sub_heading">Age*</ion-text>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-button [ngClass]="tabData.age == '18-24'? 'selected': ''" (click)="onClickTab('age', '18-24')">18-24</ion-button>
          <ion-button [ngClass]="tabData.age == '25-32'? 'selected': ''" (click)="onClickTab('age', '25-32')">25-32</ion-button>
          <ion-button [ngClass]="tabData.age == '33-40'? 'selected': ''" (click)="onClickTab('age', '33-40')">33-40</ion-button>
          <ion-button [ngClass]="tabData.age == '41-50'? 'selected': ''" (click)="onClickTab('age', '41-50')">41-50</ion-button>
          <ion-button [ngClass]="tabData.age == '51-65'? 'selected': ''" (click)="onClickTab('age', '51-65')">51-65</ion-button>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col class="flex_end_align">
          <ion-icon (click)="showTop = !showTop" name="chevron-down-outline" style="height: 40px; width: 40px;"></ion-icon>
        </ion-col>
      </ion-row>
    </div>

    <div *ngIf="!showTop" style="margin: 20px;">
      <ion-card style="display: grid; align-items: center;" class="input_selection">
        <ion-item>
          <ion-label position="stacked">Max two words what you want to do?*</ion-label>
          <ion-input maxlength="25" formControlName="aboutMe"></ion-input>
        </ion-item>
      </ion-card>
      <ion-card style="display: grid; align-items: center; height: 80px;" class="input_selection">
        <ion-item>
          <ion-label position="stacked">Bio*</ion-label>
          <ion-textarea maxlength="200" formControlName="bio"></ion-textarea>
        </ion-item>
      </ion-card>
      <ion-card style="display: grid; align-items: center;" class="input_selection">
        <ion-item>
          <ion-select aria-label="Fruit" formControlName="profiletype" interface="popover" placeholder="Select type">
            <ion-select-option *ngFor="let profile of profiles" [value]="profile">{{profile}}</ion-select-option>
            <!-- <ion-select-option value="oranges">Oranges</ion-select-option>
            <ion-select-option value="bananas">Bananas</ion-select-option> -->
          </ion-select>
        </ion-item>
      </ion-card>
      <ion-card style="display: grid; align-items: center;" class="input_selection">
        <ion-item>
          <ion-label position="stacked">facebook.com/</ion-label>
          <ion-input formControlName="faceBookId"></ion-input>
        </ion-item>
      </ion-card>
      <ion-card style="display: grid; align-items: center;" class="input_selection">
        <ion-item>
          <ion-label position="stacked">Instgram.com/</ion-label>
          <ion-input formControlName="instagramId"></ion-input>
        </ion-item>
      </ion-card>
      <ion-card style="display: grid; align-items: center;" class="input_selection">
        <ion-item>
          <ion-label position="stacked">YouTube.com/</ion-label>
          <ion-input formControlName="youTubeId"></ion-input>
        </ion-item>
      </ion-card>
      <ion-card style="display: grid; align-items: center;" class="input_selection">
        <ion-item>
          <ion-label position="stacked">Twitter.com/</ion-label>
          <ion-input formControlName="twitterId"></ion-input>
        </ion-item>
      </ion-card>
      <ion-row>
        <ion-col size="3" class="flex_start_align">
          <ion-icon (click)="showTop = !showTop" name="chevron-up-outline" class="svg_size"></ion-icon>
        </ion-col>
        <ion-col (click)="submit()" size="7" style="cursor: pointer;" class="flex_end_align">
          <ion-label style="font-size: 22px !important; font-weight: 700;">{{userData?.mobile ? 'Update': 'Join Now'}}</ion-label>
        </ion-col>
        <ion-col (click)="submit()" size="2" style="cursor: pointer;" class="flex_end_align">
          <ion-icon style="height: 54px; width: 54px;" name="arrow-forward-circle-outline"></ion-icon>
        </ion-col>
      </ion-row>
    </div>
  </form>
</ion-content>
