<ion-header>
  <ion-toolbar>
    <ion-title style="font-weight: bold;">Contact us</ion-title>
    <ion-icon class="svg_size" style="position: absolute; bottom: 12px;
    right: 10px; height: 32px !important;" (click)="closeTab()" name="close-circle-outline"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid style="margin: 10px;">
    <ion-row>
      <ion-col>
        <ion-text>
          We value your feedback, questions, and suggestions. Please feel free to reach out to us using the contact information below.
 Our dedicated support team is here to assist you and provide prompt assistance. <br><br>

<b>Email: </b> <a href = "mailto: biguluapp@gmail.com">biguluapp@gmail.com</a> <br><br>

<b>Social Media:</b> Connect with us on <b>Instagram.com/biguluapp</b> , <b>Youtube.com/biguluapp</b>  for updates, news, and community discussions. <br><br>

We strive to respond to all inquiries in a timely manner. For general inquiries, app support, or partnership opportunities, please use the email address provided above. If you prefer to speak with a representative directly, our phone lines are open during business hours.

We appreciate your interest in Bigulu and look forward to hearing from you!

        </ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
