<ion-header>
  <ion-toolbar>
    <ion-title style="font-weight: bold;">About Us</ion-title>
    <ion-icon class="svg_size" style="position: absolute; bottom: 12px;
    right: 10px; height: 32px !important;" (click)="closeTab()" name="close-circle-outline"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid style="margin: 10px;">
    <ion-row>
      <ion-col>
        <ion-text>Welcome to <b>Bigulu</b>, the ultimate platform for like-minded individuals to connect, discover, and engage in activities that fuel their passions. Our mission is to bring people together and create meaningful connections through shared interests and experiences.

          At Bigulu, we understand the importance of finding your tribe, the people who share your enthusiasm and zest for life. We believe that life is more enjoyable when you have a community of like-minded individuals to embark on exciting adventures and pursue common interests.
          
          With our user-friendly web app, we provide a seamless and interactive platform where you can explore a wide range of activities tailored to your preferences. Whether you're a sports enthusiast, an art lover, a music aficionado, or someone who simply enjoys exploring new places, Bigulu has something for everyone.
          
          What sets Bigulu apart is our commitment to fostering a positive and inclusive community. We strive to create a safe and welcoming environment where individuals from diverse backgrounds can connect and build lasting friendships. Through shared activities and experiences, we aim to break down barriers and promote a sense of belonging.
          
          We believe that life is meant to be lived to the fullest, and Bigulu is here to make that journey even more exciting. So, join us on this adventure and let Bigulu be your companion in discovering new activities, connecting with inspiring individuals, and creating memories that will last a lifetime.
          
          If you have any questions, suggestions, or feedback, we would love to hear from you. Contact our friendly support team at <a href = "mailto: biguluapp@gmail.com">biguluapp@gmail.com</a> . Thank you for being a part of the Bigulu community!
        </ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
