ion-textarea.custom-textarea {
  --background: #ededed;
  --color: black;
  padding: 10px;
  border-radius: 14px;
  --placeholder-color: black;
  --placeholder-opacity: 0.8;
  }

  .input_custom_playerCount{
    border-width: 1px;
    border-style: inset;
    border-color: black;
    border-radius: 5px;
    height: 39px;
    width: 68px;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
  }

  .activity_selection {
    border-width: 1px;
    border-style: inset;
    border-color: black;
    border-radius: 14px;
    height: 50px;
    margin: 5px 40px 15px 0px;
    padding: 10px;
  }