<ion-content>
  <div style="padding: 15px; height: 100%;">

    <ion-row>
      <ion-col>
        <ion-text class="heading">Create activity !</ion-text>
      </ion-col>
    </ion-row>

    <div style="position: relative;">
      <ion-item style="height: 50px; border: 1px solid; border-radius: 14px; margin: 10px 40px 0px 0px;; padding: 0;" lines="none">
        <ion-label>
          <ion-icon name="location-outline" style="height: 20px; width: 20px;"></ion-icon>
        </ion-label>
        <ion-searchbar [(ngModel)]="search" (keypress)="onSearchInput()" placeholder="Enter Your location" style="width: 91%; height: 100%; --box-shadow: 0; padding: 0px" search-icon="false"></ion-searchbar>
      </ion-item>
      <ion-list style="padding: 0px !important; position: absolute; z-index: 1000; width: 100%;">
        <ion-item *ngFor="let prediction of predictions" (click)="onPredictionSelect(prediction)" style="margin-right: 45px;">
          {{prediction.description}}
        </ion-item>
      </ion-list>
    </div>

    <ion-item style="height: 50px; border: 1px solid; border-radius: 14px; margin-right: 40px; margin-top: 20px;" lines="none">
      <ion-label>
        <ion-icon name="people-outline" style="height: 20px; width: 20px; padding-right: 10px;"></ion-icon>
        <ion-text>Select Activity</ion-text>
      </ion-label>
      <ion-select interface="popover" class ="select-popover" (ionChange)="onSportSelected($event, 'activityName')">
        <ion-select-option *ngFor="let sport of sports" [value]="sport">{{ sport }}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item style="height: 50px; border: 1px solid; border-radius: 14px; margin-right: 40px; margin-top: 20px;" lines="none">
      <ion-label>
        <ion-icon name="people-outline" style="height: 20px; width: 20px; padding-right: 10px;"></ion-icon>
        <ion-text>Select Category</ion-text>
      </ion-label>
      <ion-select interface="popover" class ="select-popover" (ionChange)="onSportSelected($event, 'activityType')">
        <ion-select-option *ngFor="let sport of sports" [value]="sport">{{ sport }}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-row style="margin-top: 15px;">
      <ion-label class="col_center_align">
        <ion-icon name="time-outline" style="height: 20px; width: 20px;"></ion-icon>
      </ion-label>
      <ion-col>
        <ion-text class="sub_heading">When you planning ?</ion-text>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <!-- <ion-button [ngClass]="currentData.date == 'Today'? 'selected': ''"
          (click)="onClick('date', 'Today')">Today</ion-button> -->
        <ion-button [ngClass]="currentData.date != 'Today'? 'selected': ''" (click)="openCalendar('openModal')">Enter
          date</ion-button>
          
      </ion-col>
    </ion-row>
    <ion-modal (willDismiss)="dismiss('openModal')" [isOpen]="openModal" id="example-modal" #modal>
      <ng-template>
      <ion-text (click)="openCalendar('openStartDate')" class="date-time">{{currentData.startDate | date: 'MMM d, y, h:mm a'}}</ion-text>
      <ion-text (click)="openCalendar('openEndDate')" class="date-time">{{currentData.endDate | date: 'MMM d, y, h:mm a'}}</ion-text>
    </ng-template>
    </ion-modal>
    <ion-modal (willDismiss)="dismiss('openStartDate')" (ionChange)="changeDate($event, 'startDate')" id="example-modal" #modal [isOpen]="openStartDate">
      <ng-template>
      <ion-datetime [showDefaultButtons]="true"></ion-datetime>
    </ng-template>
    </ion-modal>
    <ion-modal (willDismiss)="dismiss('openEndDate')" (ionChange)="changeDate($event, 'endDate')" id="example-modal" #modal [isOpen]="openEndDate">
      <ng-template>
      <ion-datetime [showDefaultButtons]="true"></ion-datetime>
    </ng-template>
    </ion-modal>
    <ion-row *ngIf="currentData.startDate" style="margin: 15px 0px;">
      <ion-col class="col_center_align">
        <ion-icon name="calendar-outline" style="height: 20px; width: 20px;"></ion-icon>
        <ion-text style="padding-left: 5px;"><span style="font-weight: bold;">From Date</span> {{currentData.startDate | date:'d MMMM y  h:mm a'}}</ion-text>
      </ion-col>
      <!-- <ion-col style="display: flex; flex-direction: row; justify-content: start;" class="col_center_align">
        <ion-text style="padding-left: 5px;">{{selectedTimeSpan}}</ion-text>
      </ion-col> -->
    </ion-row>
    <ion-row *ngIf="currentData.endDate" style="margin: 15px 0px;">
      <ion-col class="col_center_align">
        <ion-icon name="calendar-outline" style="height: 20px; width: 20px;"></ion-icon>
        <ion-text style="padding-left: 5px;"><span style="font-weight: bold;">To Date</span> {{currentData.endDate | date:'d MMMM y  h:mm a'}}</ion-text>
      </ion-col>
      <!-- <ion-col style="display: flex; flex-direction: row; justify-content: start;" class="col_center_align">
        <ion-text style="padding-left: 5px;">{{selectedTimeSpan}}</ion-text>
      </ion-col> -->
    </ion-row>

    <ion-row>
      <ion-label class="col_center_align">
        <ion-icon name="male-outline" style="height: 20px; width: 20px;"></ion-icon>
      </ion-label>
      <ion-col>
        <ion-text class="sub_heading">Gender Preference ?</ion-text>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button [ngClass]="currentData.gender == 'Anyone'? 'selected': ''"
          (click)="onClick('gender', 'Anyone')">Anyone</ion-button>
        <ion-button [ngClass]="currentData.gender == 'Male'? 'selected': ''"
          (click)="onClick('gender', 'Male')">Male</ion-button>
        <ion-button [ngClass]="currentData.gender == 'Female'? 'selected': ''"
          (click)="onClick('gender', 'Female')">Female</ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-label class="col_center_align">
        <ion-icon name="male-outline" style="height: 20px; width: 20px;"></ion-icon>
      </ion-label>
      <ion-col>
        <ion-text class="sub_heading">Age Preference ?</ion-text>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button [ngClass]="currentData.age == 'Anyone'? 'selected': ''"
          (click)="onClick('age', 'Anyone')">Anyone</ion-button>
        <ion-button [ngClass]="currentData.age == '18-24'? 'selected': ''"
          (click)="onClick('age', '18-24')">18-24</ion-button>
        <ion-button [ngClass]="currentData.age == '25-40'? 'selected': ''"
          (click)="onClick('age', '25-40')">25-40</ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-label class="col_center_align">
        <ion-icon name="man-outline" style="height: 20px; width: 20px;"></ion-icon>
      </ion-label>
      <ion-col>
        <ion-text class="sub_heading">How many people you want to invite ?</ion-text>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-input type="number" (change)="onClick('count', $event)" [(ngModel)]="inputValue"
          class="custom input_custom_playerCount"></ion-input>
      </ion-col>
    </ion-row>

    <div style="margin-right: 40px; margin-top: 10px;">
      <ion-textarea class="custom-textarea" (change)="onClick('description', $event)"
        placeholder="200 Words"></ion-textarea>
    </div>

    <ion-row style="margin-top: 5px;">
      <ion-col class="center_align">
        <ion-button (click)="publish()">Publish</ion-button>
      </ion-col>
    </ion-row>

  </div>
</ion-content>