<ion-content>
  <div style="padding: 15px; height: 100%;">
    <ion-row>
      <ion-col>
        <ion-text class="heading">Create activity !</ion-text>
      </ion-col>
    </ion-row>
  
    <ion-row style="margin-top: 15px;">
      <ion-label class="col_center_align">
        <ion-icon name="location-outline" style="height: 20px; width: 20px;"></ion-icon>
      </ion-label>
      <ion-col>
        <ion-text class="sub_heading">Location</ion-text>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-text class="heading">Miyapur Hyderabad</ion-text>
      </ion-col>
    </ion-row>

    <ion-row style="margin-top: 15px;">
      <ion-label class="col_center_align">
        <ion-icon name="time-outline" style="height: 20px; width: 20px;"></ion-icon>
      </ion-label>
      <ion-col>
        <ion-text class="sub_heading">When you planning ?</ion-text>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button [ngClass]="currentData.date == 'Today'? 'selected': ''" (click)="onClick('date', 'Today')">Today</ion-button>
        <ion-button [ngClass]="currentData.date != 'Today'? 'selected': ''" (click)="openCalendar()">Enter date</ion-button>
      </ion-col>
    </ion-row>

    <ion-row style="margin: 15px 0px;">
      <ion-col class="col_center_align">
        <ion-icon name="calendar-outline" style="height: 20px; width: 20px;"></ion-icon>
        <ion-text style="padding-left: 5px;">{{dateNew | date:'dd MMMM yyyy'}}</ion-text>
      </ion-col>
      <ion-col style="display: flex; flex-direction: row; justify-content: start;" class="col_center_align">
        <ion-text style="padding-left: 5px;">{{selectedTimeSpan}}</ion-text>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-label class="col_center_align">
        <ion-icon name="male-outline" style="height: 20px; width: 20px;"></ion-icon>
      </ion-label>
      <ion-col>
        <ion-text class="sub_heading">Gender Preference ?</ion-text>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button [ngClass]="currentData.gender == 'Anyone'? 'selected': ''" (click)="onClick('gender', 'Anyone')">Anyone</ion-button>
        <ion-button [ngClass]="currentData.gender == 'Male'? 'selected': ''" (click)="onClick('gender', 'Male')">Male</ion-button>
        <ion-button [ngClass]="currentData.gender == 'Female'? 'selected': ''" (click)="onClick('gender', 'Female')">Female</ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-label class="col_center_align">
        <ion-icon name="male-outline" style="height: 20px; width: 20px;"></ion-icon>
      </ion-label>
      <ion-col>
        <ion-text class="sub_heading">Age Preference ?</ion-text>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button [ngClass]="currentData.age == 'Anyone'? 'selected': ''" (click)="onClick('age', 'Anyone')">Anyone</ion-button>
        <ion-button [ngClass]="currentData.age == '18-24'? 'selected': ''" (click)="onClick('age', '18-24')">18-24</ion-button>
        <ion-button [ngClass]="currentData.age == '25-40'? 'selected': ''" (click)="onClick('age', '25-40')">25-40</ion-button>
      </ion-col>
    </ion-row>
    
    <ion-row>
      <ion-label class="col_center_align">
        <ion-icon name="man-outline" style="height: 20px; width: 20px;"></ion-icon>
      </ion-label>
      <ion-col>
        <ion-text class="sub_heading">How many people you want to invite ?</ion-text>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-input type="number" (change)="onClick('count', $event)" [(ngModel)]="inputValue" class="custom input_custom_playerCount"></ion-input>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-label class="col_center_align">
        <ion-icon name="people-outline" style="height: 20px; width: 20px;"></ion-icon>
      </ion-label>
      <ion-col>
        <ion-text class="sub_heading">Activity</ion-text>
      </ion-col>
    </ion-row>

    <ion-card style="display: grid; align-items: center;" class="activity_selection">
      <ion-row>
        <ion-col (click)="onClick('category','Lets play cricket')" class="col_center_align">
          <ion-icon name="bicycle-outline"></ion-icon>
          <ion-text style="padding-left: 5px;">Let's play cricket</ion-text>
        </ion-col>
        <ion-col (click)="onClick('category', 'Casual Meetup')" style="display: flex; flex-direction: row; justify-content: end;" class="col_center_align">
          <ion-icon name="people-outline"></ion-icon>
          <ion-text style="padding-left: 5px;">Casual Meetup</ion-text>
        </ion-col>
      </ion-row>
    </ion-card>

    <div style="margin-right: 40px;">
      <ion-textarea class="custom-textarea" (change)="onClick('description', $event)" placeholder="Type something here"></ion-textarea>
    </div>

    <ion-row style="margin-top: 15px;">
      <ion-col class="center_align">
        <ion-button (click)="publish()">Publish</ion-button>
      </ion-col>
    </ion-row>
    
  </div>
</ion-content>
