.top-container{
    padding: 10px;
    overflow:scroll;
    background: #ededed;
    overflow: hidden;
    border-radius: 14px;
    // border-width: 1px;
    // border-style: solid;
    margin: 20px;
}