<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons style="display: contents;" slot="start">
      <ion-menu-button menu="main-menu" auto-hide="false"></ion-menu-button>
    </ion-buttons>
    <ion-row style="display: flex; align-items: center;">
      <ion-col class="center_align col_center_align" size="4">
        <!-- <ion-searchbar style="padding: 0px"></ion-searchbar> -->
        <ion-icon style="height: 36px; width: 36px;" name="search-outline" (click)="search()"></ion-icon>
      </ion-col>
      <ion-col class="center_align" size="4">
        <ion-text style="font-size: 18px;">Bigulu</ion-text>
      </ion-col>
      <ion-col class="center_align" size="4">
        <ion-badge color="primary">22k</ion-badge>
      </ion-col>
      <!-- <ion-col class="center_align" size="3">
        <ion-button (click)="signOut()">signOut</ion-button>
      </ion-col> -->
    </ion-row>
  </ion-toolbar>
</ion-header>


<ion-toolbar>
  <ion-segment value="today">
    <ion-segment-button value="today">
      <ion-label>Today</ion-label>
    </ion-segment-button>
    <ion-segment-button value="tomorrow">
      <ion-label>Tomorrow</ion-label>
    </ion-segment-button>
    <ion-segment-button value="thisweek">
      <ion-label>This Week</ion-label>
    </ion-segment-button>
    <ion-segment-button value="thismonth">
      <ion-label>This Month</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-toolbar>


<ion-content [fullscreen]="true">
  <ion-card class="top-container" *ngFor="let item of activityData">
    <ion-row style="padding-bottom: 7px;">
      <ion-col size="4.5" style="padding-left: 10px;" class="col_center_align">
        <ion-icon name="people-outline" style="height: 20px; width: 20px; padding-right: 10px;"></ion-icon>
        <ion-text class="sub_heading">{{item.activityType}}</ion-text>
      </ion-col>
      <ion-col size="3">
        <ion-text>1123 views</ion-text>
      </ion-col>
      <ion-col size="4.5" style="display: flex; justify-content: end;">
        <ion-text>seen 1 day back</ion-text>
      </ion-col>
    </ion-row>
    <ion-row style="padding-bottom: 7px;">
      <ion-col>
        <ion-text>Posted on {{item.dateTime | date: 'd MMMM y h:mma'}}</ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-text>Join friendly match at {{item?.location?.structured_formatting?.main_text}}, just for funn........</ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="col_center_align">
        <ion-icon style="height: 20px; width: 20px; padding-right: 10px;" name="calendar-outline"></ion-icon>
        <ion-text>{{item.startDate | date: 'd MMMM EEEE h:mma'}}<br>{{item.endDate | date: 'd MMMM EEEE h:mma'}}</ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-label>
          <div style="display: flex;">
            <div>
              <ion-icon name="location-outline" style="height: 20px; width: 20px;"></ion-icon>
            </div>
            <ion-text class="sub_heading" style="padding-left: 10px;">{{item.location?.description}}</ion-text>
          </div>
        </ion-label>
      </ion-col>
      <ion-icon (click)="activityOverview(item._id)" name="arrow-forward-circle-outline" style="height: 35px; width: 35px;"></ion-icon>
      <!-- <ion-col class="col_center_align" size="10">
        <ion-text class="sub_heading">{{item.location?.description}}</ion-text>
        <ion-icon (click)="activityOverview(item._id)" name="arrow-forward-circle-outline" style="height: 35px; width: 35px;"></ion-icon>
      </ion-col> -->
    </ion-row>
  </ion-card>
</ion-content>
