.top-container {
    padding: 10px;
    overflow: scroll;
    background: #ededed;
    overflow: hidden;
    border-radius: 14px;
    box-shadow: 0 0 5px #ededed;
    border: 1px solid #ededed;
    margin: 20px;
}

ion-segment {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

ion-segment-button {
    text-transform: unset;
    white-space: nowrap;
    width: 0px;
}