.top-container{
    padding: 10px;
    overflow:scroll;
    background: #ededed;
    overflow: hidden;
    border-radius: 14px;
    box-shadow: none;
    margin: 20px;
}

ion-segment {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

ion-segment-button {
    text-transform: unset;
    white-space: nowrap;
}