<ion-header>
  <ion-toolbar> 
    <ion-title style="font-weight: bold;">Pricing</ion-title>
    <ion-icon class="svg_size" style="position: absolute; bottom: 12px; right: 10px; height: 32px !important;" (click)="closeTab()" name="close-circle-outline"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-card-title>Free Plan</ion-card-title>
            <ion-card-subtitle class="highlight" >3 Activities Free</ion-card-subtitle>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-card-title>Monthly Plan</ion-card-title>
            <ion-card-subtitle class="highlight" >₹99 incld GST</ion-card-subtitle>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-card-title>3 Months Plan</ion-card-title>
            <ion-card-subtitle class="highlight" >₹249 incld GST (just ₹83 per month)</ion-card-subtitle>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-card-title>6 Months Plan</ion-card-title>
            <ion-card-subtitle class="highlight" >₹449 incld GST (or ₹75 per month)</ion-card-subtitle>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-card-title>1 Year Plan</ion-card-title>
            <ion-card-subtitle class="highlight" >₹799 incld GST (or ₹67 per month)</ion-card-subtitle>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>
