<ion-app>
  <ion-menu side="start" menuId="main-menu" content-id="main">
    <ion-header>
      <ion-toolbar class="padding_new">
        <ion-title>
          Menu
        </ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <div style="padding: 0px 15px;">
          <ion-row style="padding-bottom: 15px;">
            <ion-col class="col_center_align">
              <ion-icon class="icon_style" name="person-circle-outline"></ion-icon>
              <ion-label>Profile</ion-label>
            </ion-col>
          </ion-row>

          <ion-row style="padding-bottom: 55px;">
            <ion-col class="col_center_align">
              <ion-icon class="icon_style" name="person-circle-outline"></ion-icon>
              <ion-label>Profile</ion-label>
            </ion-col>
            <ion-col class="col_center_align">
              <ion-label style="padding-right: 5px;">3 clicks left</ion-label>
              <ion-icon name="alert-circle-outline"></ion-icon>
            </ion-col>
          </ion-row>

          <ion-row style="padding-bottom: 15px;">
            <ion-col class="col_center_align">
              <ion-icon class="icon_style" name="people-circle-outline"></ion-icon>
              <ion-label>1121 Users</ion-label>
            </ion-col>
          </ion-row>

          <ion-row style="padding-bottom: 15px;" (click)="signOut()">
            <ion-col class="col_center_align">
              <ion-icon class="icon_style" name="log-out-outline"></ion-icon>
              <ion-label>Logout</ion-label>
            </ion-col>
          </ion-row>

        </div>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
