<ion-content>
  <div style="margin: 20px;">
    <ion-row>
      <!-- <ion-col *ngIf="showBtn">
        <ion-button *ngIf="!acceptInfo.cancelledByMaster && !acceptInfo.joined" (click)="accept('accept', true)">Accept</ion-button>
        <ion-button *ngIf="!acceptInfo.cancelledByMaster && !acceptInfo.joined" (click)="accept('reject', false)">Cancel</ion-button>
        <ion-button *ngIf="acceptInfo.joined" (click)="accept('cancel', false)">Accepted</ion-button>
        <ion-button *ngIf="acceptInfo.cancelledByMaster" (click)="accept('retain', true)">Cancelled</ion-button>
        <ion-button *ngIf="acceptInfo.cancelledByMaster" (click)="accept(true)">Rejected</ion-button>

        <ion-button *ngIf="!(acceptInfo.accepted || acceptInfo.cancelled)" (click)="accept(false)">Cancel</ion-button>
        <ion-button *ngIf="acceptInfo.accepted">Accepted</ion-button>
        <ion-button *ngIf="acceptInfo.cancelled" (click)="accept(false)">Invite Cancelled</ion-button>
      </ion-col> -->
      <ion-col *ngIf="!acceptInfo?.cancelledByMaster && !acceptInfo?.joined && showBtn">
        <ion-button (click)="accept('accept', true)">Accept</ion-button>
        <ion-button (click)="accept('reject', false)">Cancel</ion-button>
      </ion-col>
      <ion-col *ngIf="acceptInfo?.joined && showBtn">
        <ion-text>Accepted</ion-text>
        <ion-button (click)="accept('cancel', false)">Revert Now</ion-button>
      </ion-col>
      <ion-col *ngIf="acceptInfo?.cancelledByMaster && showBtn">
        <ion-text>Cancelled</ion-text>
        <ion-button (click)="accept('retain', true)">Revert Now</ion-button>
      </ion-col>
      <ion-col class="flex_end_align">
        <ion-icon (click)="back()" name="close-circle-outline" class="svg_size"></ion-icon>
      </ion-col>
    </ion-row>

    <ion-row style="margin: 40px 0px">
      <ion-col size="6" *ngIf="userData?.showMobile">
        <a [href]="callLink">
        <div class="center_align">
          <ion-icon class="svg_size" name="call-outline"></ion-icon>
        </div>
        <ion-col class="center_align">
          <ion-label style="font-size: 12px;">Call</ion-label>
        </ion-col>
        </a>
      </ion-col>
      <!-- <ion-col size="4">
        <div class="center_align">
          <ion-icon class="svg_size" name="logo-whatsapp"></ion-icon>
        </div>
        <ion-col class="center_align">
          <ion-label style="font-size: 12px;">WhatsApp</ion-label>
        </ion-col>
      </ion-col> -->
      <ion-col size="6" *ngIf="mailLink != ''">
        <a [href] = "mailLink">
        <div class="center_align">
          <ion-icon class="svg_size" name="mail-outline"></ion-icon>
        </div>
        <ion-col class="center_align">
          <ion-label style="font-size: 12px;">Email</ion-label>
        </ion-col>
      </a>
      </ion-col>
    </ion-row>

  <ion-row style="border-bottom: none !important; width: 100%;">
    <ion-col class=" center_align col_flex">
      <ion-row>
        <ion-col>
          <ion-label class="sub_heading">MemberID 112</ion-label><br>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-label class="heading">{{userData?.name}}</ion-label><br>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-label>
            <ion-row>
                <ion-label>{{userData?.gender}}</ion-label>
                <ion-icon name="location-outline" style="height: 20px; width: 20px; padding-left: 15px;"></ion-icon>
                <ion-text class="sub_heading" style="padding-left: 5px;">{{userData?.city}}</ion-text>
            </ion-row>
          </ion-label>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-text class="sub_heading">{{userData?.bio}}</ion-text>
        </ion-col>
      </ion-row>
      
      <ion-row>
        <ion-col>
          <ion-icon name="male-outline" style="height: 20px; width: 20px;"></ion-icon>
          <ion-text class="sub_heading" style="padding-left: 10px;">{{userData?.age}}</ion-text>
        </ion-col>
      </ion-row>

    </ion-col>
    <ion-col class=" center_align col_flex">
      <!-- <div *ngIf="!profilePic" class="round round_new center_align"></div> -->
      <img [src]="profilePic" class="center_align round_new round" alt="profile"/>
    </ion-col>
  </ion-row>
  
  <ion-row>
    <ion-col>
      <ion-text>{{userData?.aboutMe}}</ion-text>
    </ion-col>
  </ion-row>

  <ion-row style="margin-top: 40px;">
    <ion-col size="3" *ngIf="userData?.faceBookId">
      <a [href]="userData.faceBookId">
      <div class="center_align">
        <ion-icon class="svg_size" name="logo-facebook"></ion-icon>
      </div>
      <ion-col class="center_align">
        <ion-label style="font-size: 12px;">Facebook</ion-label>
      </ion-col>
    </a>
    </ion-col>
    <ion-col size="3" *ngIf="userData?.instagramId">
      <a [href]="userData?.instagramId">
      <div class="center_align">
        <ion-icon class="svg_size" name="logo-instagram"></ion-icon>
      </div>
      <ion-col class="center_align">
        <ion-label style="font-size: 12px;">Instagram</ion-label>
      </ion-col>
      </a>
    </ion-col>
    <ion-col size="3" *ngIf="userData?.youTubeId">
      <a [href]="userData?.youTubeId">
      <div class="center_align">
        <ion-icon class="svg_size" name="logo-youtube"></ion-icon>
      </div>
      <ion-col class="center_align">
        <ion-label style="font-size: 12px;">Youtybe</ion-label>
      </ion-col>
      </a>
    </ion-col>
    <ion-col size="3" *ngIf="userData?.twitterId">
      <a [href]="userData?.twitterId">
      <div class="center_align">
        <ion-icon class="svg_size" name="logo-twitter"></ion-icon>
      </div>
      <ion-col class="center_align">
        <ion-label style="font-size: 12px;">Twitter</ion-label>
      </ion-col>
      </a>
    </ion-col>
  </ion-row>
  
  <!-- <ion-row style="margin-top: 40px;">
    <ion-col size="4">
      <div class="center_align">
        <ion-icon name="wallet-outline"></ion-icon>
        <ion-label style="padding-left: 5px;">1200</ion-label>
      </div>
      <ion-col class="center_align">
        <ion-label style="font-size: 12px;">Subscriptions</ion-label>
      </ion-col>
    </ion-col>
    <ion-col size="4">
      <div class="center_align">
        <ion-icon name="people-circle-outline"></ion-icon>
        <ion-label style="padding-left: 5px;">12</ion-label>
      </div>
      <ion-col class="center_align">
        <ion-label style="font-size: 12px;">Posted</ion-label>
      </ion-col>
    </ion-col>
    <ion-col size="4">
      <div class="center_align">
        <ion-icon name="people-circle-outline"></ion-icon>
        <ion-label style="padding-left: 5px;">12</ion-label>
      </div>
      <ion-col class="center_align">
        <ion-label style="font-size: 12px;">Requested</ion-label>
      </ion-col>
    </ion-col>
  </ion-row> -->
  </div>
</ion-content>