ion-label {
    font-weight: 700;
}

img {
    border-radius: 50%;
}

.col_flex {
    flex-direction: column !important;
}

.round {
    max-width: 160px !important;
    height: 163px !important;  
    margin: 20px 0px !important;
}