ion-button {
    height: 45px;
    text-align: left;
}

.round_new{
    max-width: 100px;
    height: 100px;
}

.center_align_icon_text{
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
}

.activity_selection {
    border-width: 1px;
    border-style: inset;
    border-color: black;
    border-radius: 14px;
    height: 70px;
    margin: 5px 40px 15px 0px;
    padding: 10px;
    box-shadow: none;
  }