<ion-content>
  <div style="padding: 15px; height: 100%;">
    <ion-row>
      <ion-col style="padding-bottom: 0px;">
        <ion-text class="heading">Activity ID 112</ion-text>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-text class="sub_heading">Published on<br> 23 January 23 3:00pm<br> seen 1 day back</ion-text>
      </ion-col>
    </ion-row>

    <ion-row>
      <!-- <ion-col size="2.5">
        <ion-icon name="star-outline" class="svg_size"></ion-icon>
        <ion-label style="font-size: 12px;">Favourate</ion-label>
      </ion-col>
      <ion-col size="2.5">
        <ion-icon name="alert-circle-outline" class="svg_size"></ion-icon>
        <ion-label style="font-size: 12px;">Report</ion-label>
      </ion-col>
      <ion-col size="2.5">
        <ion-icon name="share-social-outline" class="svg_size"></ion-icon>
        <ion-label style="font-size: 12px;">Share</ion-label>
      </ion-col> -->
      <ion-col size="2.5">
        <div class="center_align">
          <ion-icon name="star-outline" class="svg_size"></ion-icon>
        </div>
        <ion-col class="center_align">
          <ion-label style="font-size: 12px;">Favourate</ion-label>
        </ion-col>
      </ion-col>
      <ion-col size="2.5">
        <div class="center_align">
          <ion-icon name="alert-circle-outline" class="svg_size"></ion-icon>
        </div>
        <ion-col class="center_align">
          <ion-label style="font-size: 12px;">Report</ion-label>
        </ion-col>
      </ion-col>
      <ion-col size="2.5">
        <div class="center_align">
          <ion-icon name="share-social-outline" class="svg_size"></ion-icon>
        </div>
        <ion-col class="center_align">
          <ion-label style="font-size: 12px;">Share</ion-label>
        </ion-col>
      </ion-col>
      <ion-col size="4.5" class="col_center_align">
        <ion-button>JOIN NOW</ion-button>
      </ion-col>
    </ion-row>

    <!-- <ion-row style="margin-top: 15px;">
      <ion-label class="col_center_align">
        <ion-icon name="beer-outline" style="height: 20px; width: 20px;"></ion-icon>
      </ion-label>
      <ion-col style="margin-left: 5px;">
        <ion-text class="sub_heading">Drinks</ion-text>
      </ion-col>
    </ion-row> -->

    <div style="display: grid; align-items: center; margin-top: 20px;">
      <ion-row>
        <ion-col class="col_center_align">
          <ion-icon name="beer-outline" style="height: 20px; width: 20px;"></ion-icon>
          <ion-text style="padding-left: 5px;">Drinks</ion-text>
        </ion-col>
        <ion-col style="display: flex; flex-direction: row; justify-content: end;" class="col_center_align">
          <ion-text style="padding-left: 5px;">1123 views</ion-text>
        </ion-col>
      </ion-row>
    </div>

    <div style="display: grid; align-items: center; margin-top: 20px;">
      <ion-row>
        <ion-col class="col_center_align">
          <ion-icon name="location-outline" style="height: 20px; width: 20px;"></ion-icon>
          <ion-text style="padding-left: 5px;">3B's Gachibowli</ion-text>
          <ion-label style="font-size: 12px;">2km</ion-label>
        </ion-col>
        <ion-col style="display: flex; flex-direction: row; justify-content: end;" class="col_center_align">
          <ion-button style="margin-right: 0px;">Directions</ion-button>
        </ion-col>
      </ion-row>
    </div>

    <div style="display: grid; align-items: center; margin-top: 20px;">
      <ion-row>
        <ion-col class="col_center_align" size="8">
          <ion-icon name="calendar-outline" style="height: 20px; width: 20px;"></ion-icon>
          <ion-text style="padding-left: 5px;">Date 25 January 2023</ion-text>
        </ion-col>
        <ion-col style="display: flex; flex-direction: row; justify-content: start;" class="col_center_align">
          <ion-text style="padding-left: 5px;">9am</ion-text>
        </ion-col>
      </ion-row>
    </div>

    <ion-row style="margin-top: 15px;">
      <ion-col class="col_center_align" size="8" style="margin-left: 10px">
        <ion-text class="sub_heading" style="padding-right: 5px;">set alerts</ion-text>
        <ion-icon name="information-circle-outline" style="height: 20px; width: 20px;"></ion-icon>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button>1 day <br>before</ion-button>
        <ion-button>same <br>day</ion-button>
        <ion-button>1 hour <br>before</ion-button>
      </ion-col>
    </ion-row>

    <div style="height: 10%; margin: 15px 0px;">
      <ion-row>
        <ion-col>
          <ion-text>If anybody intrest for drinks</ion-text>
        </ion-col>
      </ion-row>
    </div>

    <ion-row>
      <ion-col style="padding-bottom: 0px;">
        <ion-text class="heading">Activity created by</ion-text>
      </ion-col>
    </ion-row>

    <ion-row style="border-bottom: none !important; width: 100%;">
        <div class="round round_new center_align"></div>
      <ion-col style="margin: 30px 0px;">
        <ion-label>Bhanu</ion-label><br>
        <ion-label>Vissannapeta, Andhra Pradesh</ion-label><br>
        <ion-label>
          <ion-row>
            <ion-label class="col_center_align">
              <ion-icon name="male-outline" style="height: 20px; width: 20px;"></ion-icon>
            </ion-label>
            <ion-col>
              <ion-text class="sub_heading">Male</ion-text>
              <ion-text class="sub_heading" style="padding-left: 10px;">24-40</ion-text>
            </ion-col>
          </ion-row>
        </ion-label>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="center_align_icon_text" (click)="getProfileOverview()">
        <ion-icon class="svg_size" name="person-circle-outline"></ion-icon>
        <ion-label>View Profile</ion-label>
      </ion-col>
      <ion-col class="center_align_icon_text">
        <ion-icon class="svg_size" name="mic-circle-outline"></ion-icon>
        <ion-label>Call satya</ion-label>
      </ion-col>
    </ion-row>

  </div>
</ion-content>
