<ion-content>
  <div style="padding: 15px; height: 100%;">

    <ion-row>
      <ion-col class="col_center_align">
        <ion-label style="padding-right: 5px;" class="heading">3 clicks left</ion-label>
        <ion-icon name="alert-circle-outline"></ion-icon>
      </ion-col>
      <ion-col size="2" style="text-align: end;">
        <ion-icon class="svg_size" name="close-circle-outline"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="4">
        <ion-button>49 <br> 1 Month</ion-button>
      </ion-col>
      <ion-col size="3">
        <ion-button>
          <ion-icon name="wallet-outline"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col size="5">
        <ion-button>Pay</ion-button>
      </ion-col>
    </ion-row>

    <ion-row style="padding: 10px 0px;">
      <ion-col size="8">
        <ion-text>
          <span style="font-weight: 600;">1 Month Plan <ion-icon style="padding-left: 10px;" name="wallet-outline"></ion-icon> 49 </span> <br> <span>Expires on March 14 2023 <br> Purchased on 13 Feb 2023</span>
        </ion-text>
      </ion-col>
      <ion-col size="4" class="label_style">
          <ion-icon name="newspaper-outline" class="icon_size"></ion-icon>
      </ion-col>
    </ion-row>

  </div>
</ion-content>
