<ion-content>
  <div style="padding: 15px; height: 100%;">
    <ion-row>
      <ion-col>
        <ion-text class="heading">Search !</ion-text>
      </ion-col>
    </ion-row>

    <div style="position: relative;">
      <ion-item style="height: 50px; border: 1px solid; border-radius: 14px; margin: 10px 40px 0px 0px;; padding: 0;" lines="none">
        <ion-label>
          <ion-icon name="location-outline" style="height: 20px; width: 20px;"></ion-icon>
        </ion-label>
        <ion-searchbar [(ngModel)]="search" (keypress)="onSearchInput()" placeholder="Enter Your location" style="width: 91%; height: 100%; --box-shadow: 0; padding: 0px" search-icon="false"></ion-searchbar>
      </ion-item>
      <ion-list style="padding: 0px !important; position: absolute; z-index: 1000; width: 100%;">
        <ion-item *ngFor="let prediction of predictions" (click)="onPredictionSelect(prediction)" style="margin-right: 45px;">
          {{prediction.description}}
        </ion-item>
      </ion-list>
    </div>

    <ion-item style="height: 50px; border: 1px solid; border-radius: 14px; margin-right: 40px; margin-top: 20px;" lines="none">
      <ion-label>
        <ion-icon name="people-outline" style="height: 20px; width: 20px; padding-right: 10px;"></ion-icon>
        <ion-text>Select Activity</ion-text>
      </ion-label>
      <ion-select interface="popover" class ="select-popover" (ionChange)="onSportSelected($event, 'activity')">
        <ion-select-option *ngFor="let sport of sports" [value]="sport">{{ sport }}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item style="height: 50px; border: 1px solid; border-radius: 14px; margin-right: 40px; margin-top: 20px;" lines="none">
      <ion-label>
        <ion-icon name="people-outline" style="height: 20px; width: 20px; padding-right: 10px;"></ion-icon>
        <ion-text>Select Category</ion-text>
      </ion-label>
      <ion-select interface="popover" class ="select-popover" (ionChange)="onSportSelected($event, 'category')">
        <ion-select-option *ngFor="let sport of sports" [value]="sport">{{ sport }}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-row style="margin-top: 20px;">
      <ion-label class="col_center_align">
        <ion-icon name="time-outline" style="height: 20px; width: 20px;"></ion-icon>
      </ion-label>
      <ion-col>
        <ion-text class="sub_heading">When you planning ?</ion-text>
      </ion-col>
    </ion-row>

    <ion-row class="bottom_margin">
      <ion-col>
        <ion-button [ngClass]="currentData.date == 'today'? 'selected': ''" 
        (click)="onSportSelected('today', 'date')">Today</ion-button>
        <ion-button [ngClass]="currentData.date == 'tomorrow'? 'selected': ''"
        (click)="onSportSelected('tomorrow', 'date')">Tomorrow</ion-button>
        <ion-button [ngClass]="currentData.date == 'week'? 'selected': ''"
        (click)="onSportSelected('week', 'date')">This weekend</ion-button>
      </ion-col>
    </ion-row>

    <ion-row class="bottom_margin">
      <ion-col>
        <ion-button [ngClass]="currentData.time == 'morning'? 'selected': ''"
        (click)="onSportSelected('morning', 'time')">Morning</ion-button>
        <ion-button [ngClass]="currentData.time == 'afternoon'? 'selected': ''"
        (click)="onSportSelected('afternoon', 'time')">Afternoon</ion-button>
        <ion-button [ngClass]="currentData.time == 'evening'? 'selected': ''"
        (click)="onSportSelected('evening', 'time')">Evening</ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-label class="col_center_align">
        <ion-icon name="male-outline" style="height: 20px; width: 20px;"></ion-icon>
      </ion-label>
      <ion-col>
        <ion-text class="sub_heading">Gender Preference ?</ion-text>
      </ion-col>
    </ion-row>

    <ion-row class="bottom_margin">
      <ion-col>
        <ion-button [ngClass]="currentData.gender == 'anyone'? 'selected': ''"
        (click)="onSportSelected('anyone', 'gender')">Anyone</ion-button>
        <ion-button [ngClass]="currentData.gender == 'Male'? 'selected': ''"
        (click)="onSportSelected('Male', 'gender')">male</ion-button>
        <ion-button [ngClass]="currentData.gender == 'Female'? 'selected': ''"
        (click)="onSportSelected('Female', 'gender')">Female</ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-label class="col_center_align">
        <ion-icon name="male-outline" style="height: 20px; width: 20px;"></ion-icon>
      </ion-label>
      <ion-col>
        <ion-text class="sub_heading">Age Preference ?</ion-text>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button [ngClass]="currentData.age == 'anyone'? 'selected': ''"
          (click)="onSportSelected('anyone', 'age')">Anyone</ion-button>
        <ion-button [ngClass]="currentData.age == '18-24'? 'selected': ''"
          (click)="onSportSelected('18-24', 'age')">18-24</ion-button>
        <ion-button [ngClass]="currentData.age == '25-40'? 'selected': ''"
          (click)="onSportSelected('25-40', 'age')">25-40</ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-label class="col_center_align">
        <ion-icon name="man-outline" style="height: 20px; width: 20px;"></ion-icon>
      </ion-label>
      <ion-col>
        <ion-text class="sub_heading">People you want to join with ?</ion-text>
      </ion-col>
    </ion-row>

    <ion-row class="bottom_margin">
      <ion-col>
        <ion-button [ngClass]="currentData.count == 'single'? 'selected': ''"
        (click)="onSportSelected('single', 'count')">1-1</ion-button>
        <ion-button [ngClass]="currentData.count == 'group'? 'selected': ''"
        (click)="onSportSelected('group', 'count')">Group</ion-button>
      </ion-col>
    </ion-row>
    
    <ion-row>
      <ion-col class="center_align" style="top: 50px;">
        <ion-button style="width: 150px;" tab="tab1" (click)="searchSubmit()">Search</ion-button>
      </ion-col>
    </ion-row>
    
  </div>
</ion-content>
