.bottom_margin{
    margin-bottom: 10px;
}

ion-button {
    height: 49px !important;
}

::ng-deep .select-popover {
    max-height: 300px !important;
  }

.selected {
    --background: #AA4A44;
    color: white;
  }